:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 250px;

  form.update-user-form {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    justify-content: center;
  }
}

.invalid {
  font-size: 0.8rem;
  color: red;
  width: 100%;

  &:last-child {
    margin-bottom: 1rem;
  }
}
