<form
  class="register-form"
  [formGroup]="registerForm"
  (ngSubmit)="handleSubmit()"
>
  <custom-input
    label="Nom d'utilisateur"
    type="text"
    id="username"
    formControlName="username"
    [required]="true"
    [placeholder]="'JohnDoe'"
  />
  <p *ngIf="username?.hasError('required')" class="invalid">Champs requis.</p>
  <p *ngIf="username?.hasError('maxlength')" class="invalid">
    Le nom doit comporter au plus 256 caractères.
  </p>

  <custom-input
    label="Courriel"
    type="email"
    id="email"
    formControlName="email"
    [required]="true"
    [placeholder]="'john.doe@mail.me'"
  />
  <p *ngIf="email?.hasError('required')" class="invalid">Champs requis.</p>
  <p *ngIf="email?.hasError('maxlength')" class="invalid">
    Le nom doit comporter au plus 256 caractères.
  </p>
  <p *ngIf="email?.hasError('pattern')" class="invalid">
    L'adresse courriel doit être valide.
  </p>

  <custom-input
    label="Mot de passe"
    type="password"
    id="password"
    formControlName="password"
    [required]="true"
    [placeholder]="'*********'"
  />
  <p *ngIf="password?.hasError('required')" class="invalid">Champs requis.</p>
  <p *ngIf="password?.hasError('minlength')" class="invalid">
    Le nom doit comporter au moins 8 caractères.
  </p>
  <p *ngIf="password?.hasError('maxlength')" class="invalid">
    Le nom doit comporter au plus 256 caractères.
  </p>
  <p *ngIf="password?.hasError('pattern')" class="invalid">
    Le mot de passe doit contenir au moins un chiffre, une lettre minuscule, une
    majuscule et un caractère spécial.
  </p>

  <custom-button type="submit" text="S'inscrire"></custom-button>
</form>
