/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: #FF3B00;
  --color-secondary: #225EC4;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;

  background-color: #f9f9f9;

  width: 100dvw;
  width: 100vw;

  height: 100dvh;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
